body{
    background-color: gray;
    
}
/* trtrtrtr */
img{
    width: 10%;
}
header{
    display: flex;
    justify-content: space-evenly;}
        .img-into{
            width: 30%;
        }
    
.intro{
    display: flex;
    margin: 20px;
    border: 30px solid rgb(144, 238, 144);
    background-color: antiquewhite;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
}
#equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    background-color: rgb(117, 213, 216);
    color: black;
}
.foto-equipe{
width: 40%;
margin: 20px;
height: 130px;
}
.bolabb{
    width: 5%;
}