body{
    background-color: navajowhite;
    
}
/* trtrtrtr */
img{
    width: 10%;
}
header{
    display: flex;
    justify-content: space-evenly;}
        .img-into{
            width: 30%;
        }
    
.intro{
    display: flex;
}
.equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
